<div id="feed-layout-list">

    <div class="feed-layout-list-item">
        <div class="_date">
            3 days
        </div>
        <div class="_title overflow-cut">
            <a href="#">How to sort elements in Clojure</a>
        </div>

        <div class="flex-separator"></div>

        <div class="_actions">
            <a href="#">Bookmark</a>
            <a href="#">Hide</a>
        </div>

    </div>

    <div class="feed-layout-list-item">
        <div class="_date">
            1 year
        </div>
        <div class="_title overflow-cut">
            <a href="#">Глава Омской области: у инвесторов нет большого желания двигаться в регион, где есть мем «Не пытайся покинуть Омск»</a>
        </div>

        <div class="flex-separator"></div>

        <div class="_actions">
            <a href="#">Bookmark</a>
            <a href="#">Hide</a>
        </div>
    </div>

</div>
