<div id="feed-header">

    <h1 class="overflow-split"><a href="#">Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов Варламов </a></h1>
    <p>Варламов // by Ivan Grishaev // 1 Jun 2018</p>

    <!-- &emsp; <a href="#">Order by</a> &emsp; <a href="#">Options &#9662;</a> -->

    <div class="menu-items">

        <div class="dropdown menu-item">
            <a href="#" class="dropbtn">Order by &#9662;</a>
            <div class="dropdown-content">
                <a href="fff">Link 1</a>
                <a href="aaa">Link 2</a>
                <a href="ccc">Link 3</a>
            </div>
        </div>

        <div class="dropdown menu-item">
            <a href="#" class="dropbtn">Layout &#9662;</a>
            <div class="dropdown-content">
                <a href="fff">Link 1</a>
                <a href="aaa">Link 2</a>
                <a href="ccc">Link 3</a>
            </div>
        </div>

        <div class="menu-item">
            <a href="#">Edit</a>
        </div>

        <div class="menu-item">
            <a href="#">Unsubscribe!</a>
        </div>

    </div>

</div>
