<div class="sidebar-folder">

    <div class="sidebar-section sidebar-feed sidebar-tag">
        Design &#9662;
    </div>

    <div class="sidebar-section sidebar-feed">
        <div class="feed-image">
            <img class="" src="https://www.google.com/s2/favicons?domain=varlamov.ru&alt=feed">
        </div>
        <div class="feed-title overflow-cut">
            <span class="">ВарламовВарламовВарламовВарламовВарламовВарламовВарламовВарламовВарламовВарламовВарламовВарламовВарламовВарламовВарламов Варламов </span>
        </div>
        <div class="flex-separator"></div>
        <div class="">
            <span class="feed-count">42</span>
        </div>
    </div>

    <div class="sidebar-section sidebar-feed">
        <div class="feed-image">
            <img class="" src="https://www.google.com/s2/favicons?domain=meduza.io&alt=feed">
        </div>
        <div class="feed-title overflow-cut">
            <span class="">Meduza</span>
        </div>
        <div class="flex-separator"></div>
        <div class="">
            <span class="feed-count">10</span>
        </div>
    </div>

    <div class="sidebar-section sidebar-feed">
        <div class="feed-image">
            <img class="" src="https://www.google.com/s2/favicons?domain=habr.ru&alt=feed">
        </div>
        <div class="feed-title overflow-cut">
            <span class="">Habr | best</span>
        </div>
        <div class="flex-separator"></div>
        <div class="">
            <span class="feed-count">110</span>
        </div>
    </div>

</div>
