#app-left-sidebar {
    width: 350px;
}

#app-content {
    margin-left: 350px;
}

.app-message-summary img {
    max-width: 100%;
    display: block;
    margin-bottom: 15px;
}

.app-message-summary img[align="left"] {
    margin: 0 15px 0 0;
}

.app-message-summary,
.app-message-summary p
{
    font-size: 12pt;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
}

.app-message-summary blockquote {
    background: none;
    padding: 35px;
    font-style: italic;
}

.app-message-summary br {
    margin-bottom: 10px;
    display: block;
    content: "";
}

.be-top-header .be-right-navbar {
    width: calc(100% - 350px);
}
