[
 ;; user

 {:db/ident       :user/name
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}

 ;; feed

 {:db/ident       :feed/url-source
  :db/valueType   :db.type/uri
  :db/cardinality :db.cardinality/one
  :db/unique      :db.unique/identity}

 {:db/ident       :feed/url-site
  :db/valueType   :db.type/uri
  :db/cardinality :db.cardinality/one}

 {:db/ident       :feed/url-icon
  :db/valueType   :db.type/uri
  :db/cardinality :db.cardinality/one}

 {:db/ident       :feed/language
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident       :feed/date-published
  :db/valueType   :db.type/instant
  :db/cardinality :db.cardinality/one}

 {:db/ident       :feed/description
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident       :feed/date-last-sync
  :db/valueType   :db.type/instant
  :db/cardinality :db.cardinality/one}

 {:db/ident       :feed/date-next-sync
  :db/valueType   :db.type/instant
  :db/cardinality :db.cardinality/one}

 {:db/ident       :feed/tags
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/many}

 ;; message

 {:db/ident       :message/feed
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident       :message/guid
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident       :message/title
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident       :message/description
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident       :message/link
  :db/valueType   :db.type/uri
  :db/cardinality :db.cardinality/one}

 {:db/ident       :message/author
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident       :message/date-published
  :db/valueType   :db.type/instant
  :db/cardinality :db.cardinality/one}

 {:db/ident       :message/tags
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/many}

 ;; notification

 {:db/ident       :notification/message
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident       :notification/user
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident       :notification/is-read
  :db/valueType   :db.type/boolean
  :db/cardinality :db.cardinality/one}

 ;; tags

 {:db/ident       :tag/name
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique      :db.unique/identity}

 ]
